# Properties used in TypingThrower
# Add this file to .gitignore to avoid committing username/password to Github.

# key = value (don't put quotes around values)
jdbc.url = jdbc:mysql://10.22.33.44:3306/names
jdbc.user = foo
jdbc.password = dont_use_root
# You may not need this for ORMlite
jdbc.drivers = com.mysql.jdbc.Driver
# Client side should have a separate properties file
server.addr = 10.185.188.93
server.port = 3007
